html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1;
}

footer {
    position: relative; 
    bottom: 0;
    width: 100%;
}


.sticky-top {
    z-index: 3; 
}


[role="region"][aria-label="Notifications (F8)"] {
    display: none !important;
}
.border-deap{
    border-color:  #f86308;
}

.btn-deap-outline {
    color: #f86308; 
    background-color: transparent; 
    border: 2px solid #f86308;
    transition: all 0.3s ease-in-out; 
}

.btn-deap-outline:hover {
    color: #fff; 
    background-color: #f86308; 
    border-color: #f86308; 
}

.text-deap {
    color: #f86308 !important; 
}

.bg-deap{
    background-color: #f86308; 
}

.btn-deap {
    color: #fff !important; 
    background-color: #f86308 !important; 
    border: none; 
}

.btn-deap:hover {
    background-color: #c9560c; 
    color: #fff; 
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.testimonial-img {
    width: 80px;
    height: 80px;
    object-fit: cover; 
  }

  .modal {
    z-index: 1050 !important; 
}

.modal-backdrop {
    z-index: 1040 !important; 
}


.nav-link {
    position: relative;
    text-decoration: none;
    color: inherit; 
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0px; 
    left: 0;
    width: 100%;
    height: 3px; 
    background-color: #f86308;
    border-radius: 2px;
}

nav-link.active {
    font-weight: bold; /* Make the active link bold */
}

/* Styles for small screens */
@media (max-width: 768px) { /* Target small screens */
    .nav-link {
        position: static; /* Remove ::after pseudo-element */
        font-weight: normal; /* Reset bold for inactive links */
    }

    .nav-link.active {
        font-weight: bold; /* Make the active link bold */
    }

    .nav-link.active::after {
        content: none; /* Remove the underline effect */
    }
}

.btn-outline-secondary:hover , .btn-light:hover {
    border-color: #000000 !important; 
    background-color: #000000 !important;
    color: #fff;
}

.alert-content {
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 1.1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    pointer-events: auto;
}

#popupAlert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}


.modal-body {
    max-height: 500px;
    overflow-y: auto;
  }