{% extends "base.html" %}

{% block title %} Password Update {% endblock %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-lg-6 col-md-8 mx-auto text-center">
        <i class="bi bi-check-circle text-success display-1"></i>
        <h1 class="fw-light">Mot de passe mis à jour avec succès !</h1>
        <p class="lead text-body-secondary">Vous pouvez maintenant revenir en arrière et vous connecter avec votre nouveau mot de passe.</p>
        <p>
            <a href="/login" class="btn btn-deap my-2">Se connecter</a>
        </p>
    </div>
</div>


{% endblock %} 